@import url("https://fonts.googleapis.com/css2?family=Chicle&display=swap");

* {
  font-family: "Chicle";
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-img,
.card-img-bottom,
.card-img-top {
  /* width: 50%; */
  height: 100%;
  /* width: 50px; */
  margin: auto;
  opacity: 1;

  transition: 0.5s ease;
}
.card-img-top:hover {
  filter: blur(5px);
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
  margin: 0 auto;
  margin-top: 200px;
}
form {
  height: auto;
  width: auto;
}
.aboutme-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: beige;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

/* h2 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  width: 50%;
  color: beige;
} */

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: beige !important;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}
.form {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.profileImg {
  border-radius: 50%;
  width: 200px;
  margin: 30px;
  margin-left: auto;
  margin-right: auto;
}

.contact {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-top: 200px;
  height: 80%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;

  min-width: 0;
  word-wrap: break-word;
  background-color: beige;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  box-shadow: 10px 10px rgb(242, 181, 68);
}
.contact-header {
  position: absolute;
  margin-top: 150px;
  margin-left: 24%;
  color: beige;
}

.contact-input {
  background-color: beige;
}
.form-label {
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}

.aboutme-card {
  height: 80%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.projects {
  height: 50%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.projects-header {
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  width: 100%;
  color: beige;
}
